<!doctype html>
<body style="position:fixed;top: 75px;left: 200px;">
    Welcome to my text-based Monopoly Game!<br>
    This is a project I started in 8th grade as something fun and random,<br>
    and has evolved into a full website!<br>
    
    To play, simply click the button below and follow the prompts!<br>
    To save a game, copy the numbers following /play/ in the URL and save that hash.<br>
    To return to a saved game, go to https://text-based-monopoly.herokuapp.com/play/<br>
    followed by your saved hash.<br>
    Saves are kept for 2 weeks.<br>
    <br>
    Enjoy :)<br>
</body>
<form action='/setup/{{game_id}}', method="post">
    <input type="submit" value='Continue' name='continue'/>
</form>